<!DOCTYPE html>
<html>
    <head>
        <title>Old-Games Inc</title>
        <link
        rel="stylesheet"
        href="/static/assets/css/XP.css">
        <link rel="stylesheet" href="/static/assets/css/index.css">
        <link rel="stylesheet" href="/assets/css/about.css">
        <script src="/static/assets/js/hrefbutton.js" defer></script>
        <script src="/static/assets/js/about_me_buttons.js" defer></script>

    </head>
    <body>
        <div class="header">
            <h1>Old-Games Inc</h1>
            <h3>template</h3>
            <nav>
                <button aria-label="/static/index.html" class="href-btn">back to index</button>
            </nav>
        </div>
        <br>
        <div class="main">



            
        </div>
    </body>
</html>