<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/api/addgame">
    <label for="title">title:</label>
    <input type="text" name="title">
    <label for="desc">desc:</label>
    <input type="text" name="desc">
    <label for="cover">cover art link:</label>
    <input type="text" name="cover">
    <label for="dl-fi">dl-fi:</label>
    <input type="text" name="dl-fi">
    <label for="dl-en">dl-en:</label>
    <input type="text" name="dl-en">
    <label for="label">label:</label>
    <input type="text" name="label">
    <button type="submit">submit</button>
</form>

</body>
</html>