<!DOCTYPE html>
<html>
    <head>
        <title>Old-Games Inc</title>
        <link
        rel="stylesheet"
        href="/static/assets/css/XP.css">
        <link rel="stylesheet" href="/static/assets/css/index.css">
        <link rel="stylesheet" href="/static/assets/css/about.css">
        <link rel="stylesheet" href="/static/assets/css/special.css">
        <script src="/static/assets/js/hrefbutton.js" defer></script>

    </head>
    <body>

        <div class="header">
            <h1>Old-Games Inc</h1>
            <h2>{{ message }}</h2>
        </div>
    </body>
</html>